html, body {
    background-color: rgb(51, 152, 204);
    color: rgb(0, 0, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 90%;
    margin: 10px auto;
}
header {
    display: flex;
    align-items: center;
    justify-content: center;
}
h1 {
    font-weight: bold;
}
.rechercher {
    display: flex;
    align-items: center;
    margin-top: 45px;
}
.search {
    margin: 0 15px;
}
#ref_ajout {
    color: rgb(0, 0, 0);
}
form {
    font-size : 0.85em;
}
th {
    text-align: center;
}
table {
    margin-top: 15px;
}
footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 30px;
}
.site {
    display: flex;
    align-items: center;
}
.info {
    display: block;
    text-align: center;
}
h3 {
    font-size: 1.5em;
}
ul {
    list-style: none;
}
li {
    margin: 15px 15px;
}
form a {
    text-decoration: none;
}
li a, #retour a {
    text-decoration: none;
    color: white;
}
#tableau_ajout, #tableau_modif {
    width: 60%;
    margin: 0 auto;
}

#formulaire {
    background: rgb(39, 113, 148);
    border: 1px dashed black;
    border-radius: 10px;
    padding: 25px;
    text-align: center;
    width: 60%;
    margin: 100px auto;
}
.champs {
    display: flex;
    align-items: center;
}
.champs > input {
    width: 60%;
    margin: 10px auto;
}
.champs > label {
    width: 50%;
    text-align: left;
    margin: 15px 10px;
}
.infos {
    width: 60%;
    margin: 0 auto;
}
.boutons {
    font-size: 1em;
    font-weight: bold;
    margin: 10px 30px;
}
#resultat {
    font-weight: bold;
    color:red;
}
