{% extends "layout.html.twig" %}

{% block title %}

{{ parent() }} - CSS

{% endblock %}


{% block body %}

<br>

<br>
<div class="container"><img src="logos/css.png"> <p>CSS est l'un des langages principaux du Web ouvert et a été standardisé par le W3C. Ce standard évolue sous forme de niveaux (levels), CSS1 est désormais considéré comme obsolète, CSS2.1 correspond à la recommandation et CSS3, qui est découpé en modules plus petits, est en voie de standardisation.

    Introduction à CSS

    Si vous débutez en développement web, n'hésitez pas à consulter l'article les bases de CSS pour découvrir CSS, ce que c'est et comment l'utiliser.
    Tutoriels CSS

    Notre section Apprendre le Web - CSS contient de nombreux tutoriels pour vous guider d'un niveau débutant à intermédiaire en CSS. Elle couvre l'ensemble des concepts fondamentaux en CSS.
    La référence CSS

    Une référence exhaustive destinée aux développeurs web expérimenté et qui décrit chaque propriété et concept de CSS.

La section Apprendre le Web fournit différents modules qui permettent d'apprendre CSS sans connaissance particulière préalable.</p><br>

{{ parent() }} </div>

{% endblock %}
